* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Estilos Generales */
body {
  font-family: "Cabin", sans-serif;
  color: #4c4b62;
}
.btn-blue {
  width: 130px;
  height: 40px;
  background-color: #4c4b62;
  color: #cac8c9;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  border-radius: 20px;
  font-size: 16px;
  border: transparent;
}

/* HOME */
/* Estilos de home */
.home-section {
  background-color: #bdd5d7;
  height: 100vh;
  overflow: scroll;
}

.home-elements {
  width: 75%;
  padding-top: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home-elements figure {
  margin-bottom: 20px;
}
.home-elements img {
  width: 100%;
}

.text-information {
  margin-bottom: 20px;
}

.btn-simulation {
  width: 130px;
  height: 40px;
  background-color: #4c4b62;
  border-radius: 20px;
  border: transparent;
  padding-top: 10px;
  margin-right: 5px;
  float: left;
}

.btn-simulation a {
  text-decoration: none;
  color: #cac8c9;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 3px;
}
/* INICIO DE SESIÓN */
/* Estilos inicio de sesión */
.login-section {
  background-color: #ecbcb1;
  height: 100vh;
  overflow: scroll;
}

.login-elements {
  width: 75%;
  padding-top: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-section a {
  position: absolute;
  margin: 5%;
}

.login-elements h2 {
  margin-bottom: 20px;
}

.sn-btn {
  width: 260px;
  height: 40px;
  background: #4c4b62;
  color: aliceblue;
  border-radius: 20px;
  border: transparent;
  font-family: "Cabin", sans-serif;
  font-size: 95%;
  font-weight: 600;
  margin-bottom: 20px;
}

.google-btn {
  background-color: #f14336;
}

.facebook-btn {
  background-color: #3b5998;
}

.login-elements input {
  width: 247px;
  height: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: transparent;
  border-color: #4c4b62;
  border-radius: 20px;
  display: block;
  margin: 10px;
  border: solid 3px;
  padding-left: 5px;
}

/* REGISTRO */
/* Estilos REGISTRO */
.signin-section {
  background-color: #ecbcb1;
  height: 100vh;
  overflow: scroll;
}

.signin-elements {
  width: 75%;
  padding-top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.signin-section a {
  position: absolute;
  margin: 5%;
}

.signin-elements h2 {
  margin-bottom: 20px;
}

.signin-elements input {
  width: 247px;
  height: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: transparent;
  border-color: #4c4b62;
  border-radius: 20px;
  display: block;
  margin: 10px;
  border: solid 3px;
  padding-left: 5px;
}

.signin-elements select {
  width: 247px;
  height: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: transparent;
  border-color: #4c4b62;
  border-radius: 20px;
  display: block;
  margin: 10px;
  border: solid 3px;
  padding-left: 5px;
}

.signin-elements .btn-blue {
  width: 130px;
  height: 40px;
  background-color: #4c4b62;
  color: #cac8c9;
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  border-radius: 20px;
  font-size: 16px;
  border: transparent;
  cursor: pointer;
}

/* PERFIL */
/* Estilos de perfil */
.profile {
  background-color: #bdd5d7;
  height: 100vh;
  overflow: scroll;
}
/* NAVBAR */
.navbar-profile {
  width: 100%;
  height: 15%;
  position: absolute;
  z-index: 100;
  justify-content: space-between;
  overflow: hidden;
}

.navbar-profile a img {
  width: 55px;
}

.navbar-profile a {
  display: block;
  float: left;
  margin-top: 3%;
  margin-left: 4%;
}

.close {
  padding-top: 6%;
  position: relative;
  left: 42%;
  color: #cac8c9;
  font-size: 15px;
  font-weight: 400;
}
/* PERFIL */
.profile-container {
  background: #4c4b62;
  width: 100%;
  height: 35vh;
  color: #cac8c9;
  position: relative;
  overflow: hidden;
}

.img-text-profile {
  width: 80%;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
}

.shape-circule {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-right: 20px;
}
.profile-container img {
  width: 200px;
  right: 39px;
  position: relative;
}
.text-profile {
  padding-top: 20px;
}
.text-profile h1 {
  font-size: 16px;
}

.text-profile h2 {
  font-size: 14px;
}

.text-profile h3 {
  font-size: 11px;
}

/* Botón compartir */
.btn-share {
  width: 270px;
  height: 40px;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: #ecbcb1;
  border-color: #4c4b62;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: solid 3px;
  font-weight: 600;
}

/* Estilos publicación en perfil */
.container-post {
  width: 80vw;
  height: 25vh;
  background: #4c4b62;
  color: #cac8c9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: scroll;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 12px;
}

.container-post h2 {
  font-size: 15px;
}

.profile .text-post {
  position: relative;
  bottom: 10px;
}

.delete-btn img {
  width: 24px;
}

.delete-btn {
  width: 20px;
  height: 20px;
  background: transparent;
  border: transparent;
  position: relative;
  display: block;
  left: 242px;
  cursor: pointer;
  z-index: 80;
}

.recommendation {
  color: #faca6d;
  float: left;
  margin-right: 5px;
}

.company {
  font-size: 16px;
}

.commentary {
  font-size: 14px;
  margin-bottom: 3px;
}

.contact {
  float: left;
  margin-top: 4px;
  color: #cac8c9;
  background: transparent;
  text-decoration: underline;
  border: transparent;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

.stars {
  display: unset;
  position: relative;
  left: 63px;
}

/* Estilos modal nuevo post */
.modal-container-n-post {
  background: rgba(76, 75, 98, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 101;
}

.modal-content-n-post {
  height: 74%;
  background: #bdd5d7;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
/* Estilos modal eliminar */
.modal-container-delete {
  background: rgba(76, 75, 98, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 101;
}

.modal-content-delete {
  width: 80vw;
  height: 25vh;
  background: #bdd5d7;
  border-radius: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
}

.elements-modal-delete {
  text-align: center;
  margin: auto;
  font-size: 23px;
}

.elements-modal-delete p {
  margin-bottom: 15px;
}

/* Estilos formulario nueva publicación */
.container-newpost {
  width: 80vw;
  text-align: center;
  margin-left: auto;
  margin-right: 6vw;
  margin-top: -2px;
}

.close-btn img {
  width: 23px;
}

.close-btn {
  width: 50px;
  height: 50px;
  align-content: center;
  position: relative;
  left: 280px;
  top: 20px;
}

.form-input {
  width: 247px;
  height: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: transparent;
  border-color: #4c4b62;
  border-radius: 20px;
  display: block;
  margin: 10px;
  border: solid 3px;
  padding-left: 5px;
}

.container-newpost p {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  display: inline;
}

.container-newpost textarea {
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: transparent;
  border-color: #4c4b62;
  border-radius: 15px;
  display: block;
  margin: 10px;
  border: solid 3px;
  padding-left: 5px;
  padding-top: 5px;
}
/* MODAL CONTACTO */
.modal-container-contact {
  background: rgba(76, 75, 98, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 101;
}
.contact-modal {
  margin: auto;
  width: 80vw;
  height: 70%;
  background: #bdd5d7;
  border-radius: 20px;
  overflow: scroll;
}

.contact-modal figure {
  width: 30px;
  height: 30px;
  position: relative;
  left: 241px;
  top: 19px;
}

.contact-modal-elements {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
}

.contact-modal-elements h2 {
  margin-bottom: 5px;
}

.data-contact-prin {
  margin-bottom: 10px;
  text-align: left;
}

.data-contact {
  display: flex;
  margin-bottom: 10px;
}

.data-contact img {
  margin-right: 10px;
}

.adress-icon {
  margin-right: 10px;
}

/* TIMELINE */
/* NAVBAR */
.navbar-timeline {
  width: 100%;
  height: 15%;
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.navbar-timeline a img {
  right: 21px;
  width: 100px;
  position: relative;
  margin-right: 5%;
}

.navbar-timeline .shape-circule {
  width: 50px;
  height: 50px;
  margin-right: 9px;
}

.navbar-timeline a {
  color: #4c4b62;
  display: block;
  float: left;
  margin-top: 3%;
  margin-left: 4%;
}

.navbar-timeline .close {
  left: 18%;
  padding-top: 3%;
}

.name-timeline {
  font-size: 10px;
  font-weight: 600;
  display: block;
  float: right;
  text-decoration-line: underline;
  padding-top: 10%;
}

/* Estilos de TIMELINE */
.timeline {
  background-color: #ecbcb1;
  height: 100vh;
  overflow: scroll;
}

.timeline input {
  width: 247px;
  height: 30px;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
  color: #4c4b62;
  background: transparent;
  border-color: #4c4b62;
  border-radius: 20px;
  display: block;
  margin: 10px 10px 10px 0px;
  border: solid 3px;
  padding-left: 5px;
}

.box {
  width: 247px;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.container-1 {
  white-space: nowrap;
  position: relative;
  vertical-align: middle;
}

.container-1 input#search {
  float: left;
  padding-left: 27px;
}

.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  margin-top: 17px;
  z-index: 1;
}

.icon img {
  width: 65%;
}

/* Publicación en timeline like */
.n-like-btn img {
  width: 26px;
  cursor: pointer;
}

.likes-section {
  width: 225px;
  position: relative;
  left: 214px;
  bottom: 3px;
}
.n-like-btn {
  width: 23px;
  background: transparent;
  border: transparent;
  display: block;
  float: right;
  position: relative;
  bottom: 22px;
  right: 80%;
  cursor: pointer;
}

.like-btn {
  background: transparent;
  border: transparent;
  display: block;
  float: right;
  position: relative;
  bottom: 22px;
  right: 80%;
  cursor: pointer;
  display: none;
}

.text-post {
  position: relative;
  bottom: 10px;
}

.likes-section p {
  width: 36px;
  font-size: 14px;
}

@media screen and (min-width: 770px) {
  /* HOME */
  .home-elements {
    padding-top: 150px;
    align-items: center;
  }
  .two-btn {
    width: 640px;
    height: 71px;
    margin-left: auto;
    margin-right: auto;
  }

  .text-information {
    font-size: 25px;
  }

  .btn-simulation {
    width: 258px;
    height: 45px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .btn-simulation a {
    font-size: 23px;
    margin-top: 5px;
  }

  /* LOGIN */
  .login-elements {
    padding-top: 15%;
  }

  .form-login {
    width: 28%;
    margin-left: auto;
    margin-right: auto;
  }

  /* SIGN IN */
  .signin-elements {
    padding-top: 10%;
  }

  .form-signin-st {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
  }

  /* NAVBAR */
  .navbar-profile {
    height: 112px;
  }

  .navbar-profile a img {
    width: 70px;
  }
  .navbar-profile a {
    margin-top: 25px;
    margin-left: 21px;
  }
  .close {
    padding-top: 1%;
    left: 76%;
  }

  /* PROFILE PERSON */
  .profile-container {
    height: 300px;
    overflow: scroll;
  }
  .img-text-profile {
    width: 50%;
    margin-top: 9%;
  }
  .shape-circule {
    width: 140px;
    height: 140px;
  }

  .profile-container img {
    width: 261px;
    right: 49px;
  }
  .text-profile {
    padding-top: 30px;
  }
  .text-profile h1 {
    font-size: 26px;
  }
  .text-profile h2 {
    font-size: 20px;
  }
  .text-profile h3 {
    font-size: 19px;
  }

  /* BOTTOM NEW POST */
  .btn-share {
    width: 500px;
    height: 65px;
    font-size: 22px;
    margin-top: 27px;
  }
  .container-post {
    width: 577px;
    height: 200px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .delete-btn {
    left: 512px;
    top: 7px;
  }

  .delete-btn img {
    width: 28px;
  }
  .container-post h2 {
    font-size: 25px;
  }
  .recommendation {
    font-size: 20px;
  }
  .type-company {
    font-size: 20px;
  }
  .company {
    font-size: 22px;
  }
  .commentary {
    font-size: 20px;
  }
  .contact {
    margin-top: 27px;
    font-size: 20px;
  }
  .stars {
    left: 329px;
    top: 28px;
  }

  /* NAVBAR TIMELINE */
  .navbar-timeline {
    height: 112px;
  }
  .navbar-timeline .shape-circule {
    width: 70px;
    height: 70px;
    margin-right: 13px;
  }

  .navbar-timeline a img {
    right: 29px;
    width: 140px;
  }

  .name-timeline {
    font-size: 18px;
  }
  .navbar-timeline .close {
    left: 58%;
    padding-top: 2%;
  }

  .box {
    width: 300px;
    padding-top: 97px;
  }

  .container-1 input#search {
    width: 300px;
  }
  .likes-section {
    left: 492px;
    top: 8px;
  }

  .likes-section p {
    font-size: 18px;
  }

  .n-like-btn {
    width: 21px;
    bottom: 26px;
  }

  .n-like-btn img {
    width: 30px;
  }

  /* MODAL NEW POST */
  .modal-content-n-post {
    width: 318px;
    height: 70%;
    overflow: scroll;
  }

  .container-newpost {
    width: 76%;
    margin-top: 2px;
  }

  .close-btn {
    left: 269px;
  }

  .modal-content-delete {
    width: 35%;
    overflow: scroll;
  }

  .contact-modal {
    width: 285px;
    height: 450px;
  }
}
